.btn-secondary {
    background-color: white;
    margin-left: 10px;
    margin-right: 15px;
    color: black;
}

#search-btn{
    width: 60%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.container{
}

.last-row{
    padding-top: 1.5em;
}

.margin-top-md {
    margin-top: 15px;
}

.margin-left-md {
    margin-left: 15px;
}

.hidden {
    display: none;
}