@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "AppError";
}

<h2>Sorry for the inconvenience</h2>
<br />

<p>This page tried to load, but it failed miserably.</p>
<br />

<button class="btn btn-secondary" onclick="ErrorGoToHome()">Back to Home</button>

